body{
  height: 100%;
  background-color: #2D2D2D;
}

.modal_container{
  background-color: white;
  width:70vw;
  border-radius: 15px;
  padding: 10%;
  color:  #2D2D2D;
  margin: 0;
  
  h1{
    margin: 0 0 5px 0;
  }
  span{
    margin: 2rem;
    font-family: Raleway;
    font-weight: 400;
    font-size: 2rem;
  }
  &--close{
    display: flex;
    justify-content: flex-end;
    
  }
  &--desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &--btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    button{
    width: 40%;
    height: 60px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px #2D2D2D solid;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: Raleway;
    }
   button:hover{
    background-color: #0C70F2;
    border: none;
    color: white;
  }
  }
}

.table{
  width: 90vw;
}

