.header {
width: 100%;
height: 56px;
background-color: #0C70F2;
display: flex;
align-items: flex-end;
justify-content: flex-start;
  ul {
    width: 35%;
    display: flex;
    height: 3rem;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: #0C70F2;
    }
    li {
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      list-style: none;
      width: 30%;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0C70F2;
      font-weight: 600;
      color: #D9D9D9;
      &:nth-child(2) {
        color: #0C70F2;
        background-color: #D9D9D9;
        border: 2px solid #D9D9D9;
        border-radius: 5px 5px 0px 0px;
      }
  }
}